:root {
    --dark: #243447;
    --lightdark: #394b61;
    --light:  #ebebeb;
 
 }
 
 body,
 nav {
     color: var(--light);
     background-color: var(--dark);
 }
 
 #picframe,
 #natureArea,
 #healingArea,
 #fireArea,
 #smallArea,
 #mediumArea,
 #bodyArea{
     background-color: var(--lightdark)
 }
 
 #startButton,
 #phase1,
 #phase2,
 #phase3{
     color: var(--light)
 }
 
 #ehealth,
 #enemy{
     background-color: #bd3b3b;
     color: var(--light);
 }
 
 #mid{
     background-color:var(--lightdark);
     color: var(--light);
 }
 
 #user,
 #uhealth{
     background-color: darkslateblue;
     color: var(--light);
 }
 
 #wcard{
     background-color: var(--lightdark);
 }

.customMiddlePage {
    padding-top: 300px;
}

@media screen and (max-width: 576px) {
    .customMiddlePage {
        padding-top: 0px;
    }
}

.start-screen {
    background-color: black;
    height: 700px;
}